<MudAppBar Elevation="0" Color="Color.Primary">
    <h2>CoT Default Template | </h2>
    <MudLink Href="/" Class="ml-4" Color="Color.Default" Underline="Underline.None">Home</MudLink>
    <MudSpacer />
    <MudButton Href="/login" Variant="Variant.Filled" DisableElevation="true" Color="Color.Tertiary" Class="mr-4">Login</MudButton>
    <MudButton Href="/register" Variant="Variant.Filled" DisableElevation="true" Color="Color.Secondary" Class="mr-4">Register</MudButton>
</MudAppBar>
